header{
    background-color: black;
    display:flex;
    justify-content: space-between;
    padding:0px 10vw;
    align-items: center;
    color: #fff;


}
header ul{
    display: flex;
    list-style: none;
    gap: 15px;
    

}
header img{
    width: 350px;
    height: 80px;
    

}

header ul li a{
    padding: 15px;
    text-decoration: none;
    color: #fff;
    border:1px solid color(srgb rgb);
    background: linear-gradient(to right, rgb(139, 23, 2), rgb(214, 55, 27));
    border-radius: 5px;
   

}
header ul li a{
    opacity: 1;
   
}
header li:hover{
 

      
        opacity: 0.5;
        padding: 4px;
        height: 20px;
     
}


